/* https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css */
:root {
    /* Brand color palette */
    --brand-deep-blue: #185894;
    --brand-bright-blue: #276cff;
    --brand-red: #b92325;
    --brand-orange: #f79a2f;

    /* Brand color overrides */
    --vp-c-brand-1: var(--brand-orange);
    --vp-c-brand-2: var(--brand-red);
    --vp-c-brand-3: var(--brand-deep-blue);

    /* Background tint */
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: linear-gradient(135deg,
            var(--brand-bright-blue) 0%,
            var(--brand-red) 60%,
            var(--brand-orange) 100%);
}

.dark {
    --vp-c-brand-1: var(--brand-orange);
    --vp-c-brand-2: var(--brand-red);
    --vp-c-brand-3: var(--brand-bright-blue);
}